html, body {
     margin: 0;
     padding: 0;
     height: 100%;
     width: 100%;
     background-color: #F5F5F5;
}


body {
    color: #67727A;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 400%;
    font-weight: 700;
    text-align: center;
    padding-top: 2%;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 250%;
    font-weight: 700;
    text-align: center;
    padding-top: 2%;
}

h3 {
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-size: 175%;
    line-height: 155%;
    padding: 5% 0;
    font-weight: 400;
}

p {
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-size: 160%;
    line-height: 150%;
    padding: 3%;
    text-indent: 2%;
    text-align: justify;
}

img {
    max-width: 90%;
    height: auto;
    width: auto;
    margin-bottom: -4px;
}

header {
    background-color: #fff;
    width: 100%;
    height: 86px;
}

header-inner {
    max-width: 1200px;
    margin: 0 auto;
}

/*---Start NAvigation--*/


nav {
    float: right;
    padding: 25px 20px 0 0;
}


#logo {
    margin: 20px;
    float: left;
    width: 200px;
    height: 60px;
    background-image: url(/img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
}

#menu-icon {
    display: hidden;
    width: 40px;
    height: 40px;
    background-image: url(/img/menu-icon.svg);
    background-position: center;
}
a:hover #menu-icon {
    border-radius: 4px 4px 0 0;
}

ul {
    list-style-type: none;
}

nav ul li {
    font-family: 'Raleway', sans-serif;
    font-size: 150%;
    display: inline-block;
    padding: 10px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
}

nav ul li a:hover {
    color: #e00f0f;
}

.current {
    color: #000;
}



/*---Start Main Page--*/

.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: url(/img/homepage.jpg);
    display: table;
    top: 0;
    background-size: cover;
}

.intro .intro-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.btn {
    border-radius: 9px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-size: 40%;
    padding: 10px 20px;
    border: solid #ffffff 3px;
    text-decoration: none;
}

.btn:hover {
    color: #f90d0d;
    border: solid #f90d0d 3px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 250%;
    }
    .btn {
        font-size: 70%;
        padding: 7px 15px;
        border: solid #f90d0d 3px;
    }
    p {
        font-size: 100%;
        line-height: 160%;
    }
}

/*---Start About Me Section--*/




.about {
    float: left;
    width:  100%;
    height: 100%;
    margin: auto;
    display: table;
    top: 0;
    background-size: cover;
}

.image {
    float: left;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

.discription {
    float: right;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

/*---Start Skills Section--*/

#skills {
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: url(/img/solution.jpg);
    display: table;
    top: 0;
    background-size: cover;
}

.three-block-skills {
    float: left;
    width: 100%;
}

#img-tailoring {
    float: right;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

#tailoring {
    float: left;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

#creating {
    float: right;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

#img-creating {
    float: left;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

#img-implementing {
    float: right;
    margin: 0 auto;
    width: 50%;
    height: auto;
}

#implementing {
     float: left;
    margin: 0 auto;
    width: 50%;
    height: auto;
}