@import 
url('https://fonts.googleapis.com/css?family=Raleway');

html, body {
    margin: 0 auto;
    max-width: 2000px;
    padding: 0;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
img {
    max-width: 100%;
}
p {
    font-size: 60%;
    line-height: 30px;    
    margin: 5px 5px 0 5px;
}
h2 {
    font-weight: bold;
}
@media (min-width: 300px) and (max-width: 990px) {
    h2, h3 {
        font-size: 60%;
        font-weight: bold; 
    }
    p {
        font-size: 40%; 
    }
}
.navbar navbar-expand-lg navbar-dark bg-dark {
    height: 50px;
    background-color: rgba(0,0,0,0.5);
}

.content h1 {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 400%;
}
.content h2 {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 250%;
}
.intro {
    height: 100%;
    width: 100%;
    background-image: url(../img/homepage.jpg);
    display: table;
    background-size: cover;
    background-attachment: fixed;
}
.intro .intro-inner {
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(0,0,0,0.5);
}
.content {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.btn {
    font-size: 100%;
    border-radius: 9px;
    color: #ffffff;
    padding: 10px 30px;
    border: solid #ffffff 3px;
    text-decoration: none;
}
.btn {
    position:relative;
    transition: .5s ease;
    top: 50px;
}
.btn:hover {
    color: #f90d0d;
    border: solid #f90d0d 3px;
}
@media screen and (max-width: 990px) {
    nav ul li, nav ul li a {
        font-size: 90%
    }
    .content h1 {
        font-size: 220%;
    }
    .content h2 {
        font-size: 150%;
    }    
    .btn {
        font-size: 70%;
        padding: 7px 15px;
        border: solid #ffffff 3px;
    }
    p {
        font-size: 80%;
        line-height: 160%;
    }
}

#about {
    margin: 30px;
    text-align: center;
    padding-bottom: 130px;
    padding-top: 100px;
    color: #434343;
}
#about img {
    border-radius: 10%;
    vertical-align: middle;
    border-style: none;
    height: 60%;
}
article h2 {
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
}
article p {
    font-size: 20px;
}

/*---Start Skills Section--*/

#skills {
    margin-bottom: 30px;
    border-bottom-color: black;
    border-bottom-style: double;
    font-family: 'Raleway', sans-serif;
}
#skills div img {
    max-width: 70%;
}
#skills div p {
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#skills div h2 {
    font-size: 24px;
    padding-bottom: 40px;
    padding-top: 20px;
}
div p {
    text-align: center;
    font-size: 20px;
}
.skills-listing {
    margin-right: 10px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

#p-tailoring {
    display: flex;
    align-items: center;
    justify-content: center;
}
#p-creating {
    display: flex;
    align-items: center;
    justify-content: center;
}
#p-implementing {
    display: flex;
    align-items: center;
    justify-content: center;
}
#p-tailoring {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 990px) {
    .skills-listing {
        display: flex;
        flex-direction: column;
    }
    .img-tailoring {
        order: 1;
    }    
    .p-tailoring {
        order: 0;
    }
    .p-creating {
        order: 2;
    }
    .img-creating {
        order: 3;
    }
    .img-implementing {
        order: 5;
    }
    .p-implementing {
        order: 4;
    }
}    

.portfolio {
    margin-bottom: 30px;
    border-bottom-color: black;
    border-bottom-style: double;
    font-family: 'Raleway', sans-serif;
}
.portfolio div img {
    max-width: 70%;
}
.portfolio div p {
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.portfolio div h2 {
    font-size: 24px;
    padding-bottom: 40px;
    padding-top: 20px;
    text-align: center;
}
div p {
    text-align: center;
    font-size: 20px;
}


.button {
    font-size: 100%;
    border-radius: 9px;
    color: #ffffff;
    padding: 10px 30px;
    border: solid #ffffff 3px;
    text-decoration: none;
    text-transform: uppercase;
}
.portfolio {
    margin: 3em 0;
}

.port-item {
    margin: 0 auto;
    position: relative;
}
.port-item img {
    display: block;
}
.port-description {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    background: rgba(0,0,0,0.35);
    padding-bottom: 20px;
}
.port-description p {
    margin: 30px;
}
@media (min-width: 300px) and (max-width: 990px) {
    .port-item {
        width: 100%;
        float: left;
        
    }
}
@media (min-width: 991px) {
    .port-item {
        width: 50%;
        float: left;
        overflow: hidden;
    }
    .port-description {
        transform: translateY(150%);
    }
    .port-item:hover .port-description {
        transform: translateY(0%);
        transition: all ease-in-out 250ms;
    }
}


/*---Start Contact Form--*/
.contact {
    text-align: center;
    margin: 30px;
}

